body {
    background-color: rgb(46, 7, 69);
}

#SMP  {
    color: white;
    font-family: cursive;
    text-align:  center;
   

}
#Subline {
    color: white;
    font-family: cursive;
    text-align: center; 
    
}

#Home {
    position:absolute;
    transition: .5s ease;
    top: 0%;
    left: 85%;
}

#Events {
    position:absolute;
    transition: .5s ease;
    top: 0%;
    left: 89%;
}

#store {
    
    position:absolute;
    transition: .5s ease;
    top: 0%;
    left: 94%;
}

#join {
    position:absolute;
    transition: .5s ease;
    top: 25%;
    left: 47%;
}
